<div class="card">
    <div class="card-header">
        Welcome {{currentUser.firstName}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Search available item</div>
            <div class="col-md-4">
                <input class="form-control" type="text" placeholder="Search..." [(ngModel)]='listItem' />
            </div>
            <div class="col-md-4" style="float: left;">
                <button class="btn btn-primary mr-3"
                type="submit" [routerLink]="['/addItem']" >
          Add New Advert
        </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <br />
            </div>
        </div>
        <div class="row" *ngIf='items && items.length'>
            <div class="col-md-3" style="margin-top:12px;" *ngFor='let item of filteredItems'>
                <div style="border:1px solid #333; border-radius:5px; padding:16px; height:350px;" align="center">
                    <img [src]='item.imageUrl' [title]='item.itemHeader' [style.width.px]='imageWidth'
                        [style.margin.px]='imageMargin'><br />
                    <h4 class="text-danger">{{item.price| currency:'R':'symbol':'1.2-2'}}</h4>
                    <h4 class="text-info">{{item.itemHeader}}</h4>
                    <p> {{item.description}}</p>
                    <p>Posted On: {{item.releaseDate}}</p>
                    <p>
                        <button class="btn btn-outline-primary btn-sm" [routerLink]="['/addItem', item.id, 'edit']">
                            Edit
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>