<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" *ngIf='items && items.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Posted On</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let item of items'>
                        <td><img [src]='item.imageUrl' [title]='item.itemHeader' [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{item.itemHeader}}</td>
                        <td> {{item.description}}</td>
                        <td>{{item.releaseDate}}</td>
                        <td>{{item.price | currency:'R':'symbol':'1.2-2'}}</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>