<div class="card" style="width:800px; margin:50px auto;">
  <div class="card-header">
    Sign Up!
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="save()">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstName">First Name*</label>
        <div class="col-md-8">
          <input type="text" formControlName="firstName" placeholder="First Name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
            <div *ngIf="f.lastName.errors.pattern">Blank space not required</div>
          </div>
        </div>
      </div>
      <div class="form-group row mb-2">

        <label class="col-md-2 col-form-label" for="lastName">Last Name*</label>
        <div class="col-md-8">
          <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            <div *ngIf="f.lastName.errors.pattern">Blank space not required</div>
          </div>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="email">Username*</label>
        <div class="col-md-8">
          <input type="text" formControlName="email" placeholder="Email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
          </div>
        </div>
      </div>
      <div formGroupName="passGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="passId">Password*</label>
          <div class="col-md-8">
            <input class="form-control" minlength="6" required id="passId"  type="password" placeholder="Password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && passwordMessage }" />
            <span class="invalid-feedback">
              {{passwordMessage}}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmPasswordId">Confirm Password*</label>
          <div class="col-md-8">
            <input class="form-control" id="confirmPasswordId" type="password" placeholder="Confirm Password"
              formControlName="confirmPassword" [ngClass]="{'is-invalid':passwordMessage}" />
            <span class="invalid-feedback">
              <span *ngIf="registerForm.get('passGroup.confirmPassword').errors?.required">
                Please confirm your password.
              </span>
              <span *ngIf="registerForm.get('passGroup').errors?.match">
                The confirmation does not match the password.
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <img *ngIf="loading" class="pl-3" />
        <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>
    </form>

  </div>
</div>